header #music {
    height: 33rem;
    position: relative;
    flex: 3
}

header .song-container {
    display: flex;
    height: 100%;
}

header .model-playlist-song {
    display: flex;
    flex: 4;
    padding-top: 20px;
}

/* Thumb img */
header .song-container .music-ui .music-thumb {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/* Controls */
header .song-container .music-ui .music-thumb img {
    border-radius: 10px;
}


#controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--player-background);
    height: 100px;
    z-index: 2222222;
}

.controls {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.controls .controls-button {
    display: flex;
    flex-direction: row;
    gap: 0 50px;
    font-size: 15px;
}

.controls .control-range {
    width: 250px;
    position: relative;
    bottom: 30px;
    z-index: 20;
}

.controls .timer {
    position: absolute;
    bottom: -38px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #999;
    font-size: 14px;
    min-width: 380px;
}

.controls .btn-volumn {
    position: absolute;
    top: 5px;
    bottom: 0px;
    right: 0px;
    font-size: 20px;

}

.btn-toggle-play:before {
    content: "";
    position: absolute;
    inset: 0;
    transform: scale(1.1);
    border: 1px solid #fff;
    border-radius: 100%;

}